<p>Add an item:</p>
<input type="text" id="lastname"/>
<input type="submit" value="Submit"/>
<p>Set the location:</p>
<input type="text" id="lastname"/>
<input type="submit" value="Submit"/>
<p>Invite a guest</p>
<input type="text" id="lastname"/>
<input type="submit" value="Submit"/>
<a href="/">Home</a>