	<div class="sidenav">
		<a href="/home">Back to Home</a>
		<br></br>
		<a href="#">Plan New Party</a>
		<br></br>
		<a href="/singleParty">Add items</a>
		<br></br>
		<a href="/items">Add items</a>
		<br></br>
		<a href="/locationChange">Change Location</a>
		<br></br>
		<a href="/guests">Invite Guests</a>
	</div>

	
	<div class = "genericRightAlign">
		<p>Invited: </p>
		<br>

		<p id = "invitedPeople"> </p>
			<!--This is supposed to display invited guests-->
			

  <label for="inviteNewPerson">Invite Another Person, Use ID, Name, or Email</label><br>
  <input type="text" id="inviteNewPerson" name="inviteNewPerson"><br>
  <input type="submit" value="Submit">
	

	</div>