<root>



		<div class="sidenav">
			<a href="http://localhost:3000">Home</a>
			<br></br>
			<a href="/planNewParty">Plan New Party</a>
			<br></br>
			<a href="/yourParties">Your Parties</a>
			<br></br>
			<a href="/invitedParties">Parties You're Invited To</a>
	   </div>

	
	
	<div class ="rightAlign">
		<script src="./Scripts/ScriptDisplayOne"></script>


		<div class="homepageImage">
			<img src="3203HomeImg1.jpg" height="425px" width="640px" class ="centered" alt="A picture of a party"></img>
	    </div>

		<div class ="centered">
	<p>Welcome to UParty! Click "Plan New Party" to get started</p>
		</div>

	</div>
</root>