<div class="sidenav">
	<a href="http://localhost:3000">Home</a>
	<br></br>
	<a href="/planNewParty">Plan New Party</a>
	<br></br>
	<a href="/yourParties">Your Parties</a>
	<br></br>
	<a href="/invitedParties">Parties You're Invited To</a>
</div>


	<div class = "genericRightAlign">
	
	<h4>Parties You've Been Invited To</h4>
	<img src="HostedImage1.jpg" height="425px" width="640px" class ="centered" alt="A picture of a party"></img>


	<p id = "invited Parties"></p>
		<!--this is supposed to display parties someone was invited to. If some of these can't be implemented lmk, or you can go ahead and delete-->
	
	
	
	</div>