<html>

<head>
    <title>User Info</title>
    <style type="text/css">
        body {
            background-color: lightblue;
        }
    </style>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/javascripts/main.js"></script>
</head>
<div class="sidenav">
	<a href="http://localhost:4000">Home</a>
	<br></br>
	<a href="/planNewParty">Plan New Party</a>
	<br></br>
	<a href="/yourParties">Your Parties</a>
	<br></br>
	<a href="/invitedParties">Parties You're Invited To</a>
</div>


	<div class = "genericRightAlign">
	
	<h4>Parties You've Been Invited To</h4>
	<img src="HostedImage1.jpg" height="425px" width="640px" class ="centered" alt="A picture of a party"></img>


	<p id = "invited Parties"></p>
		<!--this is supposed to display parties someone was invited to. If some of these can't be implemented lmk, or you can go ahead and delete-->
	
	
	
	</div>