<div class="sidenav">
	<a href="http://localhost:3000">Back to Home</a>
	<br></br>
	<a href="#">Plan New Party</a>
	<br></br>
	<a href="/items">Add items</a>
	<br></br>
	<a href="/locationChange">Change Location</a>
	<br></br>
	<a href="/guests">Invite Guests</a>
</div>




	<div class = "locationRightAlign">

			<img src="locationPic.jpg" height="450px" width="600px" class ="centered" alt="A picture of a party"></img>



	<p>Current Location: </p> <p id = "currentLocation"> </p>

	<br>
	<br>


  <label for="newLocation">Change Location</label><br>
  <input type="text" id="newLocation" name="newLocation"><br>
  <input type="submit" value="Submit">

	</div>