<div class="sidenav">
	<a href="http://localhost:3000">Home</a>
	<br></br>
	<a href="/planNewParty">Plan New Party</a>
	<br></br>
	<a href="/yourParties">Your Parties</a>
	<br></br>
	<a href="/invitedParties">Parties You're Invited To</a>
</div>

	   <div class = "genericRightAlign">



	   <h2>Plan Your Next Party</h2>
<form action="/partys/register" method="post">
  <label for="name">Name your party!</label><br>
  <input type="text" id="name" name="name"><br>

  <label for="location">Choose Your Party's Location</label><br>
  <input type="text" id="location" name="location"><br>

  <label for="date">When Will Your Party Happen?</label><br>
  <input type="date" id="date" name="date"><br>

	<!--buttons meant to submit info for a new party-->
	<button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
	   
</form>

	   </div>