<div class="sidenav">
	<a href="http://localhost:3000">Home</a>
	<br></br>
	<a href="/planNewParty">Plan New Party</a>
	<br></br>
	<a href="/yourParties">Your Parties</a>
	<br></br>
	<a href="/invitedParties">Parties You're Invited To</a>
</div>

	   <div class = "genericRightAlign">



	   <h2>Plan Your Next Party</h2>

  <label for="setPartyLocation">Choose Your Party's Location</label><br>
  <input type="text" id="setPartyLocation" name="setPartyLocation"><br>

  <label for="setPartyTime">When Will Your Party Happen?</label><br>
  <input type="text" id="setPartyTime" name="inviteNewPerson"><br>
  
  <input type="submit" value="Submit">

<!--buttons meant to submit info for a new party-->

	   


	   </div>