		<div class="sidenav">
			<a href="http://localhost:3000">Home</a>
			<br></br>
			<a href="/planNewParty">Plan New Party</a>
			<br></br>
			<a href="/yourParties">Your Parties</a>
			<br></br>
			<a href="/invitedParties">Parties You're Invited To</a>
	   </div>

	   <div class="genericRightAlign">

	   <h5>Party Location: <h5 id="partyLocation"></h5></h5>

	   <h5>Party Date: <h5 id="partyDate"></h5></h5>

	   <h5>Number of People Invited: <h5 id="peopleInvitedNumber"></h5></h5>


	   </div>