	<div class="sidenav">
		<a href="http://localhost:3000">Back to Home</a>
		<br></br>
		<a href="#">Plan New Party</a>
		<br></br>
		<a href="/singleParty">Add items</a>
		<br></br>
		<a href="/items">Add items</a>
		<br></br>
		<a href="/locationChange">Change Location</a>
		<br></br>
		<a href="/guests">Invite Guests</a>
	</div>

	   <div class="genericRightAlign">

	   <h5>Party Location: <h5 id="partyLocation"></h5></h5>

	   <h5>Party Date: <h5 id="partyDate"></h5></h5>

	   <h5>Number of People Invited: <h5 id="peopleInvitedNumber"></h5></h5>
		   
		   <!--three tags displaying info about party-->


	   </div>