<html>

	<head>
		<title>User Info</title>
		<style type="text/css">
			body {
				background-color: lightblue;
			}
		</style>
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
			integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/public/javascripts/main.js"></script>
	</head>
	
	
	<div class="sidenav">
		<a href="/home">Back to Home</a>
		<br></br>
		<a href="#">Plan New Party</a>
		<br></br>
		<a href="/singleParty">Add items</a>
		<br></br>
		<a href="/items">Add items</a>
		<br></br>
		<a href="/locationChange">Change Location</a>
		<br></br>
		<a href="/guests">Invite Guests</a>
	</div>

	   <div class="genericRightAlign">

	   <h5>Party Location: <h5 id="partyLocation"></h5></h5>

	   <h5>Party Date: <h5 id="partyDate"></h5></h5>

	   <h5>Number of People Invited: <h5 id="peopleInvitedNumber"></h5></h5>
		   
		   <!--three tags displaying info about party-->


	   </div>