<div class="sidenav">
	<a href="http://localhost:3000">Home</a>
	<br></br>
	<a href="/planNewParty">Plan New Party</a>
	<br></br>
	<a href="/yourParties">Your Parties</a>
	<br></br>
	<a href="/invitedParties">Parties You're Invited To</a>
</div>


	<div class = "genericRightAlign">
	
	<h4>Parties You Are Hosting</h4>
	<img src="HostedImage1.jpg" height="425px" width="640px" class ="centered" alt="A picture of a party"></img>


	<p id = "hostedParties"></p>
	<!--Goal is to display list of parties someone is hosting, and allow them to click one. Clicking one will display the singleParty page, showing info about the party-->
	<!--so we will need to track the party id of the one they click. Idk if this'll be possible but I think we should be able to do this-->
	
	</div>